.description{
    padding:20px 20px;
    text-align: left;
    box-shadow: 2px 2px 3px #888888;
    border:1px solid #eee;
}
.description > p {
    padding:5px 0;
}
.guest{
    margin-top:20px;
    text-align: left;
}
.guest > p{
    padding:10px 0;
    font-weight: 600;
    font-size:20px;

}
.guest_msg{
    margin-bottom:10px;
    padding:20px 30px;
    border:1px dashed #337ab7;
    font-size:16px;
}
.guest_msg > span{
    padding:20px 10px;
}
.guest_msg > div{
    padding:10px 10px;
}

.send_comment{
    width:96%;
    border-radius: 5px;
    padding:10px 20px;
    margin-top:20px;
    text-align: left;
    box-shadow: 3px 4px 3px #191818;
}
.send_comment > span{
    display:inline-block;
    font-weight: 600;
    padding:10px 0;
}
.comment_head{
    margin-bottom: 20px;
}
.comment_head > input{
    padding:8px 10px;
    border-radius: 5px;
    outline: none;
    border:1px solid #888888;
}
.comment_name{
    margin-right: 30px;
}
#comment_email{
    width:40%;
}
#comment_content{
    width:90%;
    padding:10px;
    height:80px;
    margin-bottom: 20px;
}
#comment_code{
    padding:8px 10px;
    border-radius: 5px;
    outline: none;
    border:1px solid #888888;
    margin-bottom: 20px;

}

.comment_submit{
    padding:10px;
    outline: none;
    border:1px solid #888888;
    background-color:#fff;
    cursor: pointer;
}
.comment_submit:hover{
    background-color:#888888;
    color:#fff;
}

.blog_comments{
    margin-top:20px;
    text-align: left;
}
.blog_comments > p{
    padding:10px 0;
    font-weight: 600;
    font-size:20px;

}
.blog_comments_msg{
    margin-bottom:10px;
    padding:20px 30px;
    border:1px dashed #337ab7;
    font-size:16px;
}
.blog_comments_msg > span{
    padding:20px 10px;
}
.blog_comments_msg > div{
    padding:10px 10px;
}